body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:white;
  background-image: url("http://assets.nydailynews.com/polopoly_fs/1.1544233!/img/httpImage/image.jpg_gen/derivatives/article_970/padded-1-1211.jpg");
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
  }
img{
  height:20%;
  position:absolute;
  padding: 10px 10px 10px 10px;
}

.lineUp {
  float: right;
  padding: 5px 12px;
}
